<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-datetime [value]="selectedDate.toISOString()" placeholder="Select date" display-format="MMM DD, YYYY"
          picker-format="MMM DD, YYYY" (ionChange)="updateDate($event)"></ion-datetime>
      </ion-button>
      <ion-button (click)="selectToday()">
        <ion-icon name="today"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<app-week [week]="week" (selectedDate)="getTodosForSelectedDate($event)" [defaultSelectedDate]="todayDate"></app-week>
<ion-item>
    <ion-label>{{showDeleted.value}}</ion-label>
  <ion-checkbox slot="end" color="primary" [checked]="showDeleted.isChecked" (ionChange)="showAll()" ></ion-checkbox>
</ion-item>
<app-add-todo-container color="light"></app-add-todo-container>
<ion-content>
  <ng-container *ngIf="todoList$ | async as list else loading">
    <app-todo-list [list]="list" (open)="openTodo($event)" (restore)="restoreTodo($event)" (delete)="confirmDelete($event)"></app-todo-list>
  </ng-container>
  <ng-template #loading>
    <app-loading>
    </app-loading>
  </ng-template>
</ion-content>