<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Calendar
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-datetime [value]="selectedDate.toISOString()" placeholder="Select date" display-format="MMM DD, YYYY"
          picker-format="MMM DD, YYYY" (ionChange)="updateDate($event)"></ion-datetime>
      </ion-button>
      <ion-button (click)="selectToday()">
        <ion-icon name="today"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<app-add-todo-container color="dark"></app-add-todo-container>
<ion-content>
  <app-week [week]="week" (selectedDate)="getSelectedDateFromWeek($event)" [defaultSelectedDate]="todayDate"></app-week>
</ion-content>