<ion-card class="welcome-card" *ngFor="let item of list | todoList : 'dsc'">
  <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
  <ion-card-header>

    <ion-card-title (click)="openTodo(item)">
      <ng-container *ngIf="isOffline(item); else itemoffline">
        <ion-icon name="cloud-upload"></ion-icon>
      </ng-container>
      <ng-template #itemoffline>
        <ion-icon name="cloud-done"></ion-icon>
      </ng-template>
      {{item.title}}

    </ion-card-title>
    <ion-card-subtitle>
      <ion-icon name="clock"></ion-icon>
      {{item.timestamp | date : "M/d/yy, h:mm a"}}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

    <ion-buttons class="ion-float-right">
      <ion-button fill="clear" (click)="openTodo(item)">
        <ion-icon slot="icon-only" name="open"></ion-icon>
      </ion-button>
      <ng-container *ngIf="item?.isDeleted === true">
        <ion-button fill="clear" (click)="restoreTodo(item)">
          <ion-icon name="undo"></ion-icon>
        </ion-button>
      </ng-container>
      <ng-container *ngIf="item?.isDeleted === false || item?.isDeleted === undefined">
        <ion-button fill="clear" (click)="deleteTodo(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-card-content>
</ion-card>
<ng-container *ngIf="list.length === 0">
  <ion-item>
    <ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
      Nothing found.
    </ion-label>
  </ion-item>
</ng-container>