<ion-header color="dark">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      {{pageTitle | uppercase}}
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs (ionTabsDidChange)="tabChanged($event)">

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon [name]="profileIcon"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-label>About</ion-label>
        <ion-icon name="information"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>