<app-auth
  class="ion-page"
  (submitted)="onSubmit($event)"
  (formValid)="isFormValid($event)"
  (onGoogleLogin)="signInGoogle()"
>
  <ion-img src="/assets/login.svg" class="logo"></ion-img>
  <div class="heading">Login</div>
  <ion-button
    expand="block"
    type="submit"
    shape="round"
    class="btn"
    [disabled]="!formValid"
  >
    Sign in
  </ion-button>
  <ion-button class="action" href="/register" fill="clear">
    Not registered, Create a free account here.
  </ion-button>
</app-auth>
