<ion-split-pane color="secondary" contentId="main-content">
  <ion-menu color="secondary">
    <ion-header color="secondary">
      <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
      <app-color-selection
        [selectedTheme]="themeManager.currentTheme | async"
        [colors]="themeManager.themes"
        (colorChange)="changeTheme($event)"
      ></app-color-selection>
    </ion-header>
    <ion-content color="secondary">
      <ion-list class="no-padd-top-bottom">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item
            color="secondary"
            [routerDirection]="'root'"
            [routerLink]="[p.url]"
          >
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
