<form class [formGroup]="profileForm">
  <ion-item>
    <ion-label position="stacked">Profile Name</ion-label>
    <ion-input formControlName="fullname" placeholder="Type here..." type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Age</ion-label>
    <ion-input formControlName="age" placeholder="Type here..." type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Gender</ion-label>
    <ion-select placeholder="Select One" formControlName="gender">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
</form>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button type="submit" color="secondary" (click)="updateUser();" [disabled]="profileForm.invalid">
    <ion-icon color="light" name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>