ion-segment-button {
  --color-checked: black;
  --background-checked: #7ccd69;
  --background-activated: #7ccd69;
  --color-activated: black;
}

ion-segment-button {
  --color: #3fad72;
  --background: #7ccd69;
}
