.container {
  margin: 10px;

  ion-segment-button {
    --color-checked: var(--ion-color-secondary);
    --background-checked: var(--ion-color-secondary);
    --background-activated: var(--ion-color-secondary);
    --color-activated: var(--ion-color-secondary);
  }
}
