<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon color="light" name="add" (click)="addTodo()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-container *ngIf="todoList$ | async as list else loading">

    <ion-card class="welcome-card" color="light" *ngFor="let item of list | todoList : 'asd'" (click)="openTodo(item)">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-card-header color="light">
        <ion-card-subtitle>
          <ion-icon name="clock"></ion-icon>
          {{item.timestamp | date : "M/d/yy, h:mm a"}}
        </ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content color="light">
        <p>{{item.desc}}</p>
      </ion-card-content>
    </ion-card>

  </ng-container>

  <!-- 
  

  <ion-list class="ion-no-padding" color="dark" lines="none" *ngIf="todoList$ | async as list else loading">
    <ion-item *ngIf="!list.length" color="dark">
        <ion-icon name="sad"></ion-icon>
        <ion-label>No todo(s), start to create. </ion-label>
    </ion-item>
  </ion-list> -->

  <ng-template #loading>
    <app-loading>
    </app-loading>
  </ng-template>

</ion-content>
